name: CI-pipeline-test
#dlg,fd
on:
  push:
    branches:
      - master

jobs:
  
  git-checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        
  build_push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
          logout: false

      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: missaouisyrine/devops-node-app:1.${{ github.run_number }}
